body {
    font-family: 'Rammetto One', cursive;
    margin: 0;
    color: rgb(8, 46, 10);
}

a {
    text-decoration: none;
    color: rgb(8, 46, 10);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#grid {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 90vh;
    width: 90vh;
    border: 1px solid rgb(8, 46, 10);
    box-shadow: 1vh 1vh 1vh gray;
    background-color: whitesmoke;
    transition: all 3s;
}

.sqr {
    transition: transform .1s;
}

/* navigation */

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 200px;
    border-top: 1px solid rgb(8, 46, 10);
    border-bottom: 1px solid rgb(8, 46, 10);
    border-radius: 1vh;
    box-shadow: 1vh 1vh 1vh gray;
    background-color: whitesmoke;
}

.navLeft {
    border-right: 1px solid rgb(8, 46, 10);
}
.navRight {
    border-left: 1px solid rgb(8, 46, 10);
}

h1 {
    font-size: 40px;
    margin: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 35px;
    box-shadow: 1vh 1vh 1vh gray;
    box-sizing: border-box;
    background-color: white;
    transition: all .2s;
}

.btn:hover {
    color: white;
    background-color: rgb(8, 46, 10);
}
.btn:active {
    color: rgb(8, 46, 10);
    background-color: white;
}
.active {
    border: 3px solid rgb(8, 46, 10);
}

@media only screen and (max-width: 1150px) {
    h1 {
        display: none;
    }
    h2 {
        font-size: 13px;
    }

    nav {
        height: 40vh;
        width: 100px;
        border: 0;
        box-shadow: 0 0 0;
        background-color: transparent;
    }
    .navLeft {
        border-right: 0;
    }
    .navRight {
        border-left: 0;
    }

    .btn {
        height: 80px;
        width: 80px;
        border-radius: 20px;
    }
}
